
<footer class="container-fluid bg-dark text-secondary text-center py-2" data-bs-theme="dark">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between gap-2">   
            <p class="mb-0">© 2024 Ecoride, Inc</p>    
            <a href="{{ url('app_legal') }}" class="text-decoration-none">Mentions légales</a>        
            <a href="{{ url('app_contact') }}" class="text-decoration-none">Contact</a>         
    </div>
</footer>