{% extends 'base.html.twig' %}

{% block title %}LegalIndex{% endblock %}

{% block body %}

<div class="px-4 py-5 my-5 text-primary">
    <h1 class="display-5 pb-4">Conditions générales</h1>
</div>

<div class="container px-4 py-5 my-5 text-center align-items-center rounded-3 border shadow-lg">   
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-4 text-primary text-start">1. Objet</h3>
            <p class="text-start">
            La société ci-après, « Ecoride » édite une plateforme de covoiturage écologique accessible 
            sur un site internet notamment à l’adresse www.ecoride.fret destinée à mettre 
            en relation des conducteurs se rendant à une destination donnée pour leur propre 
            compte avec des passagers allant dans la même direction afin de leur permettre de 
            partager le trajet et donc les frais qui y sont associés.
            </p>
            <p class="text-start">
            Les présentes Conditions Générales d’Utilisation ont pour objet d’encadrer l’accès 
            et les modalités d’utilisation de la Plateforme. Nous vous invitons à en prendre 
            attentivement connaissance. Vous comprenez et reconnaissez que BlaBlaCar n’est partie 
            à aucun accord, contrat ou relation contractuelle, de quelque nature que ce soit, 
            conclus entre les Membres de sa Plateforme</p>
        </div>
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-4 text-primary text-start">2. Définitions</h3>
            <p class="text-start">
            Dans les présentes,<br>
            <strong>"Annonce"</strong> désigne l’offre de covoiturage publiée par un chauffeur sur la Plateforme.<br>
            <strong>"Chauffeur"</strong> désigne la personne qui propose un trajet sur la Plateforme.<br>
            <strong>"Passager"</strong> désigne la personne qui réserve une place dans un véhicule proposé 
            par un chauffeur sur la Plateforme.<br>
            <strong>"Membre"</strong> désigne toute personne inscrite sur la Plateforme, qu'elle soit chauffeur er/ou passagers.<br>   
            <strong>"Plateforme"</strong> désigne le site internet d'Ecoride.<br>
            <strong>"Trajet"</strong> désigne le parcours proposé par un chauffeur sur la Plateforme.<br>
            <strong>"Réservation"</strong> désigne l'action de réserver une place dans un véhicule proposé 
            par un chauffeur sur la Plateforme.<br>
            <strong>"CGU"</strong> désigne les présentes conditions générales. <br>
            <strong>"Ecoride"</strong> a la signification qui lui est donnée à l’article 1 ci-dessus.<br>
            <strong>"crédits"</strong> désigne les unités de valeur monétaire que la Plateforme
            utilise pour pourvoir au bon fonctionnement la plateforme. <br>
            <strong>"Trajet en covoiturage</strong> désigne le trajet faisant l’objet d’une Annonce 
            de Covoiturage publiée par un chauffeur sur la Plateforme et pour lequel il accepte 
            de transporter des Passagers en contrepartie de la Participation aux Frais<br>
            <strong>"Participation aux Frais"</strong> désigne, pour un Trajet en Covoiturage donné, 
            la somme d’argent demandée par le Conducteur et acceptée par le Passager au titre de 
            sa participation aux frais de déplacement. <br>
            </p>
        </div>
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-2 text-primary text-start">3. Inscription à la plateforme</h3>
            <h4 class="pb-2 text-primary text-start">3.1. Conditions d’inscription à la Plateforme</h4>
            <p class="text-start">
            L’utilisation de Plateforme est réservée aux personnes physiques âgées de 18 ans ou plus.
            Toute inscription sur la Plateforme par une personne mineure est strictement interdite. 
            En accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez 
            avoir 18 ans ou plus.
            </p>
            <h4 class="pb-2 text-primary text-start">3.2. Création de compte</h4>
            <p class="text-start pb-2">
            La Plateforme permet aux Membres de publier des Annonces de Covoiturage et consulter des
            Annonces ainsi que d’interagir entre eux pour la réservation de Place. Vous pouvez 
            consulter les Annonces même si vous n’êtes pas inscrit sur la Plateforme. 
            En revanche, vous ne pouvez ni publier une Annonce de Covoiturage ni réserver une Place 
            dans un covoiturage sans avoir, au préalable, créé un Compte et être devenu Membre.</p>
            <p class="text-start">
            Pour créer votre Compte, vous devez : <br>
            remplir le formulaire d’inscription en ligne sur la Plateforme. <br>
            Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU. <br>
            À la création du compte, l'utilisateur bénéficie automatiquement de 20 crédits. <br>

            À l’occasion de la création de votre Compte, vous vous engagez à fournir des informations
            personnelles exactes et conformes à la réalité et à les mettre à jour, 
            par l’intermédiaire de votre profil ou en en avertissant Ecoride, afin d’en garantir 
            la pertinence et l’exactitude tout au long de votre relation contractuelle avec Ecoride.
            </p>
            <p class="text-start">
            Vous vous engagez à garder secret le mot de passe choisi lors de la création de votre Compte
            et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe, 
            vous vous engagez à en informer sans délai Ecoride. Vous êtes seul responsable de l’utilisation 
            faite de votre Compte par un tiers, tant que vous n’avez pas expressément notifié Ecoride de la perte, 
            l’utilisation frauduleuse par un tiers ou la divulgation de votre mot de passe à un tiers. <br>

            Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, 
            d’autres Comptes que celui initialement créé.
            </p>
        </div>
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-2 text-primary text-start">4. Utilisation des services</h3>
            <h4 class="pb-2 text-primary text-start">4.1. Publication des Annonces de Covoiturage</h4>
            <p class="text-start">
            En tant que Membre,  
            vous pouvez créer et publier des Annonces de Covoiturage sur la Plateforme en indiquant 
            des informations quant au Trajet en Covoiturage que vous comptez effectuer 
            (dates/heures et lieux de départ et d’arrivée, nombre de places offertes, préférences, 
            montant de la Participation aux Frais, énergie du véhicule, etc.).
            </p>
            <p class="text-start pb-2">
            Vous reconnaissez être le seul responsable du contenu de l’Annonce de Covoiturage que 
            vous publiez sur la Plateforme. En conséquence, vous déclarez et garantissez l’exactitude 
            et la véracité de toute information contenue dans votre Annonce de Covoiturage et vous 
            engagez à effectuer le Trajet en Covoiturage selon les modalités décrites dans votre Annonce 
            de Covoiturage.</p>
            <p class="text-start pb-2">Votre Annonce de Covoiturage sera publiée sur la Plateforme et donc visible des Membres et 
            de tous visiteurs, même non-Membre, effectuant une recherche sur la Plateforme ou sur 
            le site internet des partenaires d'Ecoride.</p>
            <p class="text-start pb-2">
            Ecoride se réserve la possibilité, à sa seule discrétion, de ne pas publier ou retirer, 
            à tout moment, toute Annonce de Covoiturage qui ne serait pas conforme aux CGU ou 
            qu’elle considérerait comme préjudiciable à son image, celle de la Plateforme 
            ou celle des Services, et/ou suspendre le compte du Membre qui publie ces Annonces de Covoiturage 
            conformément à l’Article 9 des présentes CGU.
            </p>
            <h4 class="pb-2 text-primary text-start">4.2. Réservation d’une Place</h4>
            <p class="text-start">
            Ecoride a mis en place un système de réservation de Places en ligne  (" Réserver ") 
            pour les Trajets proposés sur la Plateforme. <br>
            Pour réserver une Place, vous devez être Membre et disposer de crédits sur votre Compte. <br>
            Ecoride met à disposition des utilisateurs un moteur de recherche accessible 
            sur la Plateforme fondé sur différents critères de recherche (aspect écologique: voiture électrique,
            prix du voyage, durée du voyage, note du chauffeur, etc.).
            </p>
        </div>       
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-2 text-primary text-start">6. Comportement des utilisateurs de la Plateforme</h3>
            <h4 class="pb-2 text-primary text-start">6.1. Engagement de tous les utilisateurs de la Plateforme</h4>
            <p class="text-start">
            Vous reconnaissez être seul responsable du respect de l’ensemble des lois, 
            règlements et obligations applicables à votre utilisation de la Plateforme. 
            </p>
            <h4 class="pb-2 text-primary text-start">6.2. Engagements des Conducteurs</h4>
            <p class="text-start">
            En outre, lorsque vous utilisez la Plateforme en tant que Conducteur, vous vous engagez à :
            - respecter l’ensemble des lois, règles, codes applicables à la conduite et au véhicule, notamment 
            à disposer d’une assurance responsabilité civile valide au moment du Trajet en Covoiturage 
            et être en possession d’un permis de conduire en vigueur ;
            - vous assurer que votre assurance couvre le covoiturage et que vos Passagers sont considérés 
            comme tiers dans votre véhicule et donc couverts par votre assurance ;
            - ne prendre aucun risque au volant, à n’absorber aucun produit de nature à altérer votre 
            attention et vos capacités, à conduire avec vigilance et en toute sécurité ;
            - publier des Annonces de Covoiturage correspondant uniquement à des trajets réellement envisagés ;
            - effectuer le Trajet en Covoiturage tel que décrit dans l’Annonce de Covoiturage 
            et respecter les horaires et lieux convenus avec les autres Membres (notamment le lieu de rendez-vous et de dépose) ;
            - ne pas prendre plus de Passagers que le nombre de Places indiquées dans l’Annonce de Covoiturage ;
            - utiliser un véhicule en parfait état de fonctionnement et conforme aux usages et dispositions 
            légales applicables, notamment avec un contrôle technique à jour ;
            - en cas d’empêchement ou de changement de l’horaire ou du Trajet en Covoiturage, en informer sans délai vos Passagers ;
            - ne générer aucun bénéfice par l’intermédiaire de la Plateforme ;
            - garantir n’avoir aucune contre-indication ou incapacité médicale à conduire ;
            - avoir un comportement convenable et responsable, au cours du Trajet en Covoiturage et conforme à l’esprit de covoiturage.
            </p>
            <h4 class="pb-2 text-primary text-start">6.2. Engagements des passagers</h4>
            <p class="text-start">
            Lorsque vous utilisez la Plateforme en tant que Passager dans le cadre d’un Trajet en Covoiturage, vous vous engagez à :
            - adopter un comportement convenable au cours du Trajet en Covoiturage de façon à ne gêner 
            ni la concentration et la conduite du Conducteur ni la tranquillité des autres Passagers ;
            - respecter le véhicule du Conducteur et sa propreté ;
            - en cas d’empêchement, en informer sans délai le Conducteur ;
            - attendre le Conducteur sur le lieu de rencontre convenu au moins 15 minutes au-delà de l’heure convenue ;
            </p>
        </div>
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-4 text-primary text-start">7.  Modification des CGU</h3>
            <p class="text-start">
            Les présentes CGU expriment l’intégralité de l’accord entre vous et Ecoride relative à 
            votre utilisation des Services. Tout autre document, notamment toute mention sur la 
            Plateforme (FAQ, Blog, etc.), n’a qu’une valeur informative. <br>
            Ecoride pourra être amenée à modifier les présentes CGU afin de s’adapter à son 
            environnement technologique et commercial et afin de se conformer à la réglementation 
            en vigueur. Toute modification des présentes CGU sera publiée sur la Plateforme avec 
            une mention de la date de mise à jour et vous sera notifiée par Ecoride avant son entrée 
            en vigueur.
            </p>
        </div>
        <div class="p-3 p-lg-6 pt-lg-3">
            <h3 class="pb-4 text-primary text-start">8.  Droit applicable et règlement des litiges</h3>
            <p class="text-start">
            Les présentes CGU sont rédigées en français et soumises à la loi française, sans 
            préjudice des dispositions plus protectrices du consommateur en vertu de la loi de sa 
            résidence habituelle.
            </p>
        </div>
</div>

{% endblock %}
