{% extends 'base.html.twig' %}

{% block title %}New Carpooling{% endblock %}

{% block body %}
    <h1>Créer un nouveau covoiturage</h1>

    {{ include('carpooling/_form.html.twig') }}

    <a href="{{ path('app_carpooling_index') }}">Retour à la liste</a>
{% endblock %}
